## **Day-1 Coding**

In [ ]:
print("This is my first day coding python")

This is my first day coding python

# LOOPS IN PYTHON

In [ ]:
# Top 10 natural number ko cube
for i in range(1,11):
  print (i * i * i)

1
8
27
64
125
216
343
512
729
1000

# FUNCTIONS IN PYTHON

In [ ]:
# Declaring function to calculate square of a number
def calculate_square(length):
 return length * length

#Calling a function to print square of first square
print("The area of first square is:",calculate_square(6))
print("The area of second square is:",calculate_square(16))

The area of first square is: 36
The area of second square is: 256

# Homework: Find area of circle

# LISTS IN PYTHON

In [ ]:
# Write comments here
fruits = ["apples", "banana", "mango", "litchi", "watermelon"]
print(fruits)

# #Accessing elements from the list
# print(fruits[0]) #first index
# print(fruits[-1])
# print(fruits[4])

# #Adding and removing elements from the list
# fruits.append("pineapple")
# print(fruits)

fruits.remove("mango")
print(fruits)

['apples', 'banana', 'mango', 'litchi', 'watermelon']
['apples', 'banana', 'mango', 'litchi', 'watermelon', 'pineapple']
['apples', 'banana', 'litchi', 'watermelon', 'pineapple']

# SETS AND TUPLES(HOME-RESEARCH)

# DICTIONARY IN PYTHON

In [18]:
student = {
    "name" : "Ramu",
    "class" : 7,
    "gender" : "male"
}

# #Accessing values from keys in a dictionary
# print(student["name"])
# print(student["class"])

print(student)

#Updating values of a particular key in a dictionary
student["gender"] = "female"
print(student)

#Adding a new key-value pair into the existing dictionary
student["roll_no"] = 10
print(student)

#Deleting a key-value pair from the existing dictionary
del student["class"]
print(student)

{'name': 'Ramu', 'class': 7, 'gender': 'male'}
{'name': 'Ramu', 'class': 7, 'gender': 'female'}
{'name': 'Ramu', 'class': 7, 'gender': 'female', 'roll_no': 10}
{'name': 'Ramu', 'gender': 'female', 'roll_no': 10}