## **Day-1 Coding**

In [ ]:
print("This is my first day coding python")

This is my first day coding python

# LOOPS IN PYTHON

In [ ]:
# Top 10 natural number ko cube
for i in range(1,11):
  print (i * i * i)

1
8
27
64
125
216
343
512
729
1000

# FUNCTIONS IN PYTHON

In [ ]:
# Declaring function to calculate square of a number
def calculate_square(length):
 return length * length

#Calling a function to print square of first square
print("The area of first square is:",calculate_square(6))
print("The area of second square is:",calculate_square(16))

The area of first square is: 36
The area of second square is: 256

# Homework: Find area of circle

In [2]:
print("This program finds the area of circle")
r=float(input("Enter the radius of circle"))
area=(22/7)*r*r
print(f"The area of circle is {area:.2f}")

This program finds the area of circle
Enter the radius of circle10
The area of circle is 314.29

# LISTS IN PYTHON

In [ ]:
# Write comments here
fruits = ["apples", "banana", "mango", "litchi", "watermelon"]
print(fruits)

# #Accessing elements from the list
# print(fruits[0]) #first index
# print(fruits[-1])
# print(fruits[4])

# #Adding and removing elements from the list
# fruits.append("pineapple")
# print(fruits)

fruits.remove("mango")
print(fruits)

['apples', 'banana', 'mango', 'litchi', 'watermelon']
['apples', 'banana', 'mango', 'litchi', 'watermelon', 'pineapple']
['apples', 'banana', 'litchi', 'watermelon', 'pineapple']

# SETS AND TUPLES(HOME-RESEARCH)

# DICTIONARY IN PYTHON

In [ ]:
student = {
    "name" : "Ramu",
    "class" : 7,
    "gender" : "male"
}

# #Accessing values from keys in a dictionary
# print(student["name"])
# print(student["class"])

print(student)

#Updating values of a particular key in a dictionary
student["gender"] = "female"
print(student)

#Adding a new key-value pair into the existing dictionary
student["roll_no"] = 10
print(student)

#Deleting a key-value pair from the existing dictionary
del student["class"]
print(student)

{'name': 'Ramu', 'class': 7, 'gender': 'male'}
{'name': 'Ramu', 'class': 7, 'gender': 'female'}
{'name': 'Ramu', 'class': 7, 'gender': 'female', 'roll_no': 10}
{'name': 'Ramu', 'gender': 'female', 'roll_no': 10}

**AGE CALCULATOR**

In [3]:
print("This program calculates age")
birthyear=int(input("Enter your birth year in AD"))
currentyear=2025
if (birthyear>currentyear):
    print("You cannot be born in the future.")
else:
    age = currentyear - birthyear
    print(f"Your age is {age} years.")

This program calculates age
Enter your birth year in AD2002
Your age is 23 years.

**SIMPLE INTEREST CALCULATOR**

In [5]:
print("This program helps to calculate simple interest")
P=float(input("Enter the principal amount"))
R=float(input("Enter the interest rate"))
T=float(input("Enter the time period"))
SI=(P*T*R)/100
formatted_SI=f"Rs.{SI:,.2f}"
print(f"The simple interest is: {formatted_SI}")

This program helps to calculate simple interest
Enter the principal amount1000000
Enter the interest rate10
Enter the time period10
The simple interest is: Rs.1,000,000.00

**BMI CALCULATOR**

In [6]:
print("This program calculates your BMI")
H=float(input("Enter your height in meters"))
W=float(input("Enter your weight in kg"))
BMI=W/(H*H)
print(f"Your BMI is {BMI}")
if(BMI<18.5):
    print("You are Underweight")
elif(BMI>=25):
    print("Your are Overweight")
else:
    print("You are normal")

This program calculates your BMI
Enter your height in meters1.62
Enter your weight in kg48
Your BMI is 18.289894833104707
You are Underweight

**CURRENCY CONVERTER**

In [7]:
print("This program converts local currency in NPR to US Dollars")
NPR=float(input("Enter the amount in NPR"))
USD=NPR/132
print(f"The amount in USD is: ${USD:,.2f}")

This program converts local currency in NPR to US Dollars
Enter the amount in NPR5000000
The amount in USD is: $37,878.79